
extends layout

block content
    form(action='/add' method="GET")
        button(type='submit') Add to vocabulary

    form(action='/delete' method="POST")
        input(type="text", placeholder="Enter a Word" name="deleteWord")
        button(type='submit') Delete

    h1 Words

    if vocabularies.length
    ul
            for vocabulary in vocabularies
                    li= vocabulary.word
                    
