
extends layout

block content

    

    button +

    h1 Words

    if vocabularies.length

        //- need table here
        ul
        for vocabulary in vocabularies
            li= vocabulary.word
